<h1>Editing job description</h1>

<%= render "form", job_description: @job_description %>

<br>

<div>
  <%= link_to "Show this job description", @job_description %> |
  <%= link_to "Back to job descriptions", job_descriptions_path %>
</div>
