<p style="color: green"><%= notice %></p>

<%= render @job_description %>

<div>
  <%= link_to "Edit this job description", edit_job_description_path(@job_description) %> |
  <%= link_to "Back to job descriptions", job_descriptions_path %>
</div>
