<div id="<%= dom_id supporting_document %>">
  <p>
    <strong>Name:</strong>
    <%= supporting_document.name %>
  </p>

  <p>
    <strong>Job application:</strong>
    <%= link_to "#{supporting_document.job_application.job_title}", job_application_path(supporting_document.job_application) %>
  </p>


  <p>
    <strong>Documents:</strong>
  </p>

  <%= render "supporting_documents/attachment", document: supporting_document.document%>

</div>
