<div id="<%= dom_id supporting_document %>">
  <h2>
    <strong>Name:</strong>
    <%= supporting_document.name %>
  </h2>

  <p>
    <strong>Job applications:</strong>
    <% supporting_document.job_applications.each do |application|%>
      <li class="list-unstyled">
        <%= link_to "#{application.job_title}", job_application_path(application) %>
      </li>
    <% end %>
  </p> 


  <p>
    <strong>Documents:</strong>
  </p>

  <%= render "supporting_documents/attachment", document: supporting_document.document%>

</div>
