<h1>Editing supporting document</h1>

<%= render "form", supporting_document: @supporting_document %>

<br>

<div>
  <%= link_to "Show this supporting document", @supporting_document %> |
  <%= link_to "Back to supporting documents", supporting_documents_path %>
</div>
